body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://i.pinimg.com/originals/8a/23/37/8a2337ec45b51167b24cc6e4d136fb1a.jpg');
  background-size: cover;
  width: 100%;
  
}